@media (max-width:991px){
    html{
    font-size:55% ;
    }
    header{
        padding:20px
    }
    section{
        padding: 20px;
    }
    
    .home{
        background-position: left;
    }
}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: 1rem rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding:1.5rem;
        background: #fff;
        border:1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size:5rem ;
    }

    .home .content span{
        font-size:5rem ;
    }

    .icons-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 1rem;
    justify-content: space-between;
    }

    .icons-container .icons {
    background: #fff;
    border: 2px solid rgba(0,0,0,.1);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 200px;          
    border-radius: 8px;
    }

    .icons-container .icons img {
    width: 40px;           
    height: auto;
    }

    .icons-container .icons h3 {
    font-size: 1.5rem;     
    margin: 0;
    }

    .icons-container .icons span {
    font-size: 1rem;       
    }

    .products .box-container {
        grid-template-columns: repeat(2, 1fr); /* 2 per row */
    }

    review .box-container{
        flex-direction: column;
    }

    .review .box-container .box{
        flex: 1 1 100%;
    }

    .review .box-container .box .user img{
        width: 55px;
        height: 55px;
    }

    contact .row{
        flex-direction: column;
    }

    .contact form{
        width: 100%;
    }

    .contact .image img{
        width: 90%;
        margin: 0 auto;
        display: block;
    }
}
}





@media (max-width:450px){
    html{
    font-size:50% ;
    }

    .heading{
        font-size: 3rem;
    }

    .products .box-container {
        grid-template-columns: 1fr; /* 1 per row */
    }

    review .box-container .box{
        padding: 2rem;
    }

    .review .box-container .box p{
        font-size: 1.3rem;
    }

    .contact form .box{
        font-size: 1.4rem;
    }
}
}

